<!DOCTYPE html>
<html ng-app="trex">
<head>
	<meta charset="UTF-8">
	<title>TrainerExpress - Sign Up/Log In</title>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- Angular -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>

	<style>
		h3 {
			margin: 5px;
		}
		.quote {
			margin-top: 25%;
		}
		form {
			margin-top: 5em;
		}
		form input {
			margin: 0.5em 0;
		}
		.errorMsg {
			color: red;
		}
	</style>
	<script>
		var trex = angular.module('trex', ['ngRoute']);
		trex.config(function($routeProvider) {
			$routeProvider
				.when('/',
				{
					templateUrl: 'partials/login.html'
				})
				.otherwise(
				{
					redirectTo: '/'
				});
		});

		trex.factory('SessionFactory', function() {
			var sessionID = null;

			factory = {};
			factory.setSessionID = function(_id) {
				sessionID = _id;
			}

			factory.getSessionID = function() {
				return sessionID;
			}

			factory.destroySessionID = function() {
				sessionID = null;
			}

			return factory;
		});

		trex.controller('HeaderController', function($scope){
		});

		trex.controller('MainController', function($http, $scope, SessionFactory) {

			$scope.addUser = function() {
				$http.post('/users/create', {
					username: $scope.new_user.username,
					email: $scope.new_user.email,
					password: $scope.new_user.password,
					password_confirmation: $scope.new_user.password_confirmation
				}).success(function(data){
					$scope.errors = data.errors;
					if (data.status == 'success') {
						SessionFactory.setSessionID(data._id);
						console.log(SessionFactory.getSessionID());
					}
				})
			}

			$scope.loginUser = function() {
				alert('Loggin in!')
				// $http.post('/users/login', {
				// 	username: $scope.return_user.username,
				// 	password: $scope.return_user.password
				// }).success(function(data) {

				// })
			}
		});
	</script>
</head>
<body>
	<div ng-controller="HeaderController">
		<h3>Trainer Express</h3>
	</div>
	<div ng-view=""></div>
</body>
</html>