<!DOCTYPE html>
<html ng-app="trex">
<head>
	<meta charset="UTF-8">
	<title>TrainerExpress - Sign Up/Log In</title>
	
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Bootstrap CSS and JS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- Angular and Angular Routes-->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
	<!-- Routes, controllers, factories -->
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/controllers.js"></script>
	<script src="/javascripts/factories.js"></script>
</head>
<body>
	<div ng-controller="HeaderController">
		<h3>Trainer Express</h3>
	</div>
	<div ng-view=""></div>
</body>
</html>