<style>
	body {
		margin: 5px;
		background-color: silver;
	}

	.topLinks a {
		display: block;
		width: 15em;
		margin-top: 0.5em;
	}

	.main button {
		width: 80px;
	}
	
	.main h3 {
		margin-top: 0.5em;
	}

	.routine {
		display: block;
		border: 2px solid black;
		height: 8em;
		margin-top: 0.5em;
		background-color: white;
	}
	
		.links {
			margin-top: 0.5em;
		}

		.routine a {
			width: 6em;
			margin-top: 0.5em;
		}
</style>

<div ng-controller="RoutineController">
	<div class="topLinks">
		<a ng-href="#/user-dashboard" class="btn btn-default">Back to Dashboard</a>
		<a ng-href="#/routines/new" class="btn btn-default">Add a new routine</a>
	</div>

	<div class="main">
		<h3><u>My submitted workout routines</u></h3>

		<div class="routine" ng-repeat="user_routine in user_routines">
			<div class="col-xs-8">
				<a ng-href="#/routines/{{ user_routine._id }}"><h4 ng-bind="user_routine.title"></h4></a>
				<p>Duration: <span ng-bind="user_routine.duration"></span> mins</p>
				<p>Intensity: <span ng-bind="user_routine.intensity"></span>/10</p>
			</div>
			<div class="col-xs-4 links">
				<a ng-href="#/routines/{{ user_routine._id }}/edit" class="btn btn-primary">Edit</a>
				<a ng-click="destroyRoutine(user_routine._id, $index)" class="btn btn-danger">Delete</a>
			</div>
		</div>
	</div>
</div>