<style>
	body {
		padding: 5px;
	}

	h3 {
		margin: 5px 0;
	}

	h4 {
		margin: 1em 0;
	}

	.welcome h4, .welcome a {
		display: inline-block;
	}

	.section {
		height: 14em;
		overflow-x: auto;
		white-space: nowrap;
	}

		.slide {
			display: inline-block;
			height: 10em;
			width: 10em;
			border: 1px solid silver;
			text-align: center;
		}

		button {
			margin-top: 10px;
		}
</style>
<div ng-controller="UserController">
	<div class="welcome">
		<h4>Welcome <span ng-bind="username"></span></h4>
		<a class="pull-right" ng-click="logoutUser()">Logout</a>
	</div>

	<div class="mySection section">
		<h5>My Custom Workouts</h5>
		<a ng-href="#/routines/{{ user_routine._id }}" class="slide" ng-repeat="user_routine in user_routines"><span ng-bind="user_routine.title"></span></a>
	</div>
	<div class="popSection section">
		<h5>Popular Workout Routines</h5>
		<a href="" class="slide">Morning routine</a>
		<a href="" class="slide">Stretching</a>
		<a href="" class="slide">Swim stretch</a>
		<a href="" class="slide">Yoga - Hatha</a>
		<a href="" class="slide">Quick 4</a>
		<a href="" class="slide">Tabata</a>
	</div>
	<div class="allSection section">
		<h5>All Workout Routines</h5>
		<a ng-href="#/routines/{{ routine._id }}" class="slide" ng-repeat="routine in allRoutines"><span ng-bind="routine.title"></span></a>
	</div>
	<div class="bottom text-center">
		<a class="btn btn-default" ng-href="#/routines">Workout Dashboard</a>
	</div>
</div>